In [45]:
import pandas as pd
import numpy as np

df = pd.read_csv('owid-co2-data.csv')

print("Dataset Shape:", df.shape)
print("\nFirst few rows:")
df.head(15)

Dataset Shape: (50191, 79)

First few rows:

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1750,AFG,2802560.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1751,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1752,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1753,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1754,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,1755,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,1756,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Afghanistan,1757,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Afghanistan,1758,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Afghanistan,1759,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Afghanistan,1760,AFG,2866255.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Afghanistan,1761,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Afghanistan,1762,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Afghanistan,1763,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Afghanistan,1764,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
# Check for missing/null values
missing_per_col = df.isnull().sum()
missing_per_col_df = missing_per_col.reset_index()
missing_per_col_df.columns = ['Column', 'Missing Values']
print("\nTotal number of missing values per column:\n")
print(missing_per_col_df.to_string(index=False))
print("\n" + "="*80)
total_missing = missing_per_col.sum()
total_cells = df.shape[0] * df.shape[1]
percent_missing = (total_missing / total_cells) * 100
print(f"\nTotal missing values in entire dataset: {total_missing:,}")
print(f"Percentage of missing values: {percent_missing:.6f}")

Total number of missing values per column:

                                   Column  Missing Values
                                  country               0
                                     year               0
                                 iso_code            7929
                               population            9172
                                      gdp           34940
                               cement_co2           21328
                    cement_co2_per_capita           24833
                                      co2           21054
                           co2_growth_abs           23210
                          co2_growth_prct           24189
                        co2_including_luc           26606
             co2_including_luc_growth_abs           26906
            co2_including_luc_growth_prct           26906
             co2_including_luc_per_capita           26696
                co2_including_luc_per_gdp           33401
        co2_including_luc_per_unit_energy           40490
                           co2_per_capita           24009
                              co2_per_gdp           32663
                      co2_per_unit_energy           39841
                                 coal_co2           28436
                      coal_co2_per_capita           29141
                          consumption_co2           45325
               consumption_co2_per_capita           45689
                  consumption_co2_per_gdp           45747
                    cumulative_cement_co2           21350
                           cumulative_co2           22863
             cumulative_co2_including_luc           26606
                      cumulative_coal_co2           28436
                   cumulative_flaring_co2           34300
                       cumulative_gas_co2           32177
                       cumulative_luc_co2           12955
                       cumulative_oil_co2           24974
                     cumulative_other_co2           46989
                        energy_per_capita           40082
                           energy_per_gdp           42495
                              flaring_co2           34239
                   flaring_co2_per_capita           35497
                                  gas_co2           32177
                       gas_co2_per_capita           32899
            ghg_excluding_lucf_per_capita           14552
                           ghg_per_capita           14378
                      land_use_change_co2           12955
           land_use_change_co2_per_capita           13757
                                  methane           12781
                       methane_per_capita           14378
                            nitrous_oxide           11911
                 nitrous_oxide_per_capita           13871
                                  oil_co2           24973
                       oil_co2_per_capita           25755
                     other_co2_per_capita           47717
                       other_industry_co2           46989
               primary_energy_consumption           40040
                  share_global_cement_co2           28231
                         share_global_co2           22863
           share_global_co2_including_luc           26606
                    share_global_coal_co2           28436
       share_global_cumulative_cement_co2           28231
              share_global_cumulative_co2           22863
share_global_cumulative_co2_including_luc           26606
         share_global_cumulative_coal_co2           28436
      share_global_cumulative_flaring_co2           39322
          share_global_cumulative_gas_co2           35157
          share_global_cumulative_luc_co2           12955
          share_global_cumulative_oil_co2           26599
        share_global_cumulative_other_co2           48083
                 share_global_flaring_co2           39322
                     share_global_gas_co2           35157
                     share_global_luc_co2           12955
                     share_global_oil_co2           26599
                   share_global_other_co2           48083
     share_of_temperature_change_from_ghg            9190
              temperature_change_from_ch4           12131
              temperature_change_from_co2            9190
              temperature_change_from_ghg            9190
              temperature_change_from_n2o           12131
                                total_ghg           12781
                 total_ghg_excluding_lucf           12955
                                trade_co2           45656
                          trade_co2_share           45656

================================================================================

Total missing values in entire dataset: 2,105,991
Percentage of missing values: 53.113335

In [47]:
# Check for empty strings and other types of missing data
print("Columns with empty strings:")
empty_strings = {}
for col in df.columns:
    if df[col].dtype == 'object':  # String columns
        empty_count = (df[col] == '').sum()
        if empty_count > 0:
            empty_strings[col] = empty_count

if empty_strings:
    for col, count in empty_strings.items():
        print(f"{col}: {count} empty strings")
else:
    print("No empty strings found")

# Check data types
print("\n" + "="*80)
print("\nData Types:")
print(df.dtypes)

Columns with empty strings:
No empty strings found

================================================================================

Data Types:
country                         object
year                             int64
iso_code                        object
population                     float64
gdp                            float64
                                ...
temperature_change_from_n2o    float64
total_ghg                      float64
total_ghg_excluding_lucf       float64
trade_co2                      float64
trade_co2_share                float64
Length: 79, dtype: object

In [48]:
# Filter dataset for years > 1830
df_1830 = df[df['year'] > 1831].copy()

print("="*80)
print("ANALYSIS FOR YEARS > 1830")
print("="*80)
print(f"\nNumber of rows with year > 1830: {len(df_1830)}")
print(f"Dataset Shape (years > 1830): {df_1830.shape}")
print(f"\nYear range: {df_1830['year'].min()} to {df_1830['year'].max()}")
print(f"\nFirst few rows:")
df_1830.head()

================================================================================
ANALYSIS FOR YEARS > 1830
================================================================================

Number of rows with year > 1830: 45209
Dataset Shape (years > 1830): (45209, 79)

Year range: 1832 to 2023

First few rows:

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
82,Afghanistan,1832,AFG,3460553.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Afghanistan,1833,AFG,3476034.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Afghanistan,1834,AFG,3491585.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,Afghanistan,1835,AFG,3507205.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Afghanistan,1836,AFG,3522896.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
# Load the filtered dataset (years > 1830)
df_cleaned = df_1830

In [50]:
same_measure_groups = [
    ['share_global_co2', 'share_global_cumulative_co2'],
    ['share_global_co2_including_luc', 'share_global_cumulative_co2_including_luc'],
    ['share_global_cement_co2', 'share_global_cumulative_cement_co2'],
    ['share_global_coal_co2', 'share_global_cumulative_coal_co2'],
    ['share_global_oil_co2', 'share_global_cumulative_oil_co2'],
    ['share_global_gas_co2', 'share_global_cumulative_gas_co2'],
    ['share_global_flaring_co2', 'share_global_cumulative_flaring_co2'],
    ['share_global_luc_co2', 'share_global_cumulative_luc_co2'],
    ['share_global_other_co2', 'share_global_cumulative_other_co2'],
]

print("Same-measure groups defined:")
for i, group in enumerate(same_measure_groups, 1):
    print(f"  Group {i}: {group}")
print(f"\nTotal groups: {len(same_measure_groups)}")

Same-measure groups defined:
  Group 1: ['share_global_co2', 'share_global_cumulative_co2']
  Group 2: ['share_global_co2_including_luc', 'share_global_cumulative_co2_including_luc']
  Group 3: ['share_global_cement_co2', 'share_global_cumulative_cement_co2']
  Group 4: ['share_global_coal_co2', 'share_global_cumulative_coal_co2']
  Group 5: ['share_global_oil_co2', 'share_global_cumulative_oil_co2']
  Group 6: ['share_global_gas_co2', 'share_global_cumulative_gas_co2']
  Group 7: ['share_global_flaring_co2', 'share_global_cumulative_flaring_co2']
  Group 8: ['share_global_luc_co2', 'share_global_cumulative_luc_co2']
  Group 9: ['share_global_other_co2', 'share_global_cumulative_other_co2']

Total groups: 9

In [51]:
# Same-measure correlation analysis - only compare within same-measure groups
threshold = 0.90
same_measure_redundant_pairs = []
columns_to_remove_same_measure = set()

numeric_cols = df_cleaned.select_dtypes(include=[np.number]).columns.tolist()

# For each same-measure group, check correlation
for group in same_measure_groups:
    # Filter to only columns that exist in dataframe and are numeric
    group_numeric = [col for col in group if col in numeric_cols and col in df_cleaned.columns]
    
    if len(group_numeric) < 2:
        continue  # Need at least 2 columns to compare
    
    # Calculate correlation for this group
    group_data = df_cleaned[group_numeric]
    group_corr = group_data.corr()
    
    # Check all pairs in this group
    for i in range(len(group_corr.columns)):
        for j in range(i+1, len(group_corr.columns)):
            col1 = group_corr.columns[i]
            col2 = group_corr.columns[j]
            
            # Skip if either already marked for removal
            if col1 in columns_to_remove_same_measure or col2 in columns_to_remove_same_measure:
                continue
            
            corr_value = group_corr.iloc[i, j]
            if pd.notna(corr_value) and abs(corr_value) >= threshold:
                same_measure_redundant_pairs.append({
                    'group': group,
                    'col1': col1,
                    'col2': col2,
                    'correlation': corr_value
                })
                
                # Count missing values and decide which to remove
                missing_col1 = df_cleaned[col1].isnull().sum()
                missing_col2 = df_cleaned[col2].isnull().sum()
                
                # Keep the one with fewer missing values
                if missing_col1 <= missing_col2:
                    columns_to_remove_same_measure.add(col2)
                else:
                    columns_to_remove_same_measure.add(col1)

print(f"\nSame-measure analysis:")
print(f"Found {len(same_measure_redundant_pairs)} redundant pairs within same-measure groups")
if len(same_measure_redundant_pairs) > 0:
    print(f"\nColumns to be removed (same-measure): {len(columns_to_remove_same_measure)}")
    print("\nRedundant pairs by group (first 20):")
    for pair in same_measure_redundant_pairs[:20]:
        print(f"  {pair['col1']} <-> {pair['col2']}: {pair['correlation']:.4f}")
    if len(same_measure_redundant_pairs) > 20:
        print(f"  ... and {len(same_measure_redundant_pairs) - 20} more pairs")
else:
    print("No redundant columns found within same-measure groups!")

Same-measure analysis:
Found 9 redundant pairs within same-measure groups

Columns to be removed (same-measure): 9

Redundant pairs by group (first 20):
  share_global_co2 <-> share_global_cumulative_co2: 0.9826
  share_global_co2_including_luc <-> share_global_cumulative_co2_including_luc: 0.9817
  share_global_cement_co2 <-> share_global_cumulative_cement_co2: 0.9835
  share_global_coal_co2 <-> share_global_cumulative_coal_co2: 0.9703
  share_global_oil_co2 <-> share_global_cumulative_oil_co2: 0.9890
  share_global_gas_co2 <-> share_global_cumulative_gas_co2: 0.9920
  share_global_flaring_co2 <-> share_global_cumulative_flaring_co2: 0.9700
  share_global_luc_co2 <-> share_global_cumulative_luc_co2: 0.9430
  share_global_other_co2 <-> share_global_cumulative_other_co2: 0.9776

In [52]:
# Remove same-measure redundant columns
df_same_measure = df_cleaned.copy()

print(f"\nOriginal number of columns: {len(df_same_measure.columns)}")
if len(columns_to_remove_same_measure) > 0:
    df_same_measure = df_same_measure.drop(columns=list(columns_to_remove_same_measure))
    print(f"After removing same-measure redundant columns: {len(df_same_measure.columns)}")
    print(f"Removed {len(columns_to_remove_same_measure)} redundant columns")
    print(f"\nRemoved columns: {sorted(list(columns_to_remove_same_measure))}")
else:
    print("No columns to remove - keeping all columns")

Original number of columns: 79
After removing same-measure redundant columns: 70
Removed 9 redundant columns

Removed columns: ['share_global_cumulative_cement_co2', 'share_global_cumulative_co2', 'share_global_cumulative_co2_including_luc', 'share_global_cumulative_coal_co2', 'share_global_cumulative_flaring_co2', 'share_global_cumulative_gas_co2', 'share_global_cumulative_luc_co2', 'share_global_cumulative_oil_co2', 'share_global_cumulative_other_co2']

In [53]:
column_name_mapping = {
    # Basic Identifiers
    'country': 'Country',
    'year': 'Year',
    'iso_code': 'ISO Country Code',
    
    # Demographics & Economy
    'population': 'Population',
    'gdp': 'Gross Domestic Product',
    
    # CO2 Emissions by source
    'cement_co2': 'Cement CO2 Emissions',
    'cement_co2_per_capita': 'Cement CO2 Per Capita',
    'coal_co2': 'Coal CO2 Emissions',
    'coal_co2_per_capita': 'Coal CO2 Per Capita',
    'oil_co2': 'Oil CO2 Emissions',
    'oil_co2_per_capita': 'Oil CO2 Per Capita',
    'gas_co2': 'Gas CO2 Emissions',
    'gas_co2_per_capita': 'Gas CO2 Per Capita',
    'flaring_co2': 'Flaring CO2 Emissions',
    'flaring_co2_per_capita': 'Flaring CO2 Per Capita',
    'land_use_change_co2': 'Land Use Change CO2',
    'land_use_change_co2_per_capita': 'Land Use Change CO2 Per Capita',
    'other_industry_co2': 'Other Industry CO2',
    'other_co2_per_capita': 'Other CO2 Per Capita',
    
    # Total CO2 Metrics
    'co2': 'CO2 Emissions',
    'co2_including_luc': 'CO2 Including Land Use Change',
    'co2_growth_abs': 'CO2 Growth Absolute',
    'co2_growth_prct': 'CO2 Growth Percentage',
    'co2_per_capita': 'CO2 Per Capita',
    'co2_per_gdp': 'CO2 Per GDP',
    'co2_per_unit_energy': 'CO2 Per Unit Energy',
    'co2_including_luc_growth_abs': 'CO2 Including Land Use Change Growth Absolute',
    'co2_including_luc_growth_prct': 'CO2 Including Land Use Change Growth Percentage',
    'co2_including_luc_per_capita': 'CO2 Including Land Use Change Per Capita',
    'co2_including_luc_per_gdp': 'CO2 Including Land Use Change Per GDP',
    'co2_including_luc_per_unit_energy': 'CO2 Including Land Use Change Per Unit Energy',
    
    # Cumulative Emissions
    'cumulative_co2': 'Cumulative CO2',
    'cumulative_co2_including_luc': 'Cumulative CO2 Including Land Use Change',
    'cumulative_cement_co2': 'Cumulative Cement CO2',
    'cumulative_coal_co2': 'Cumulative Coal CO2',
    'cumulative_oil_co2': 'Cumulative Oil CO2',
    'cumulative_gas_co2': 'Cumulative Gas CO2',
    'cumulative_flaring_co2': 'Cumulative Flaring CO2',
    'cumulative_luc_co2': 'Cumulative Land Use Change CO2',
    'cumulative_other_co2': 'Cumulative Other CO2',
    
    # Energy Metrics
    'primary_energy_consumption': 'Primary Energy Consumption',
    'energy_per_capita': 'Energy Per Capita',
    'energy_per_gdp': 'Energy Per GDP',
    
    # Other Greenhouse Gases
    'methane': 'Methane',
    'methane_per_capita': 'Methane Per Capita',
    'nitrous_oxide': 'Nitrous Oxide',
    'nitrous_oxide_per_capita': 'Nitrous Oxide Per Capita',
    'ghg_per_capita': 'Greenhouse Gas Per Capita',
    'ghg_excluding_lucf_per_capita': 'Greenhouse Gas Excluding Land Use Change Per Capita',
    'total_ghg': 'Total Greenhouse Gas',
    'total_ghg_excluding_lucf': 'Total Greenhouse Gas Excluding Land Use Change',
    
    # Global Shares
    'share_global_co2': 'Share of Global CO2',
    'share_global_co2_including_luc': 'Share of Global CO2 Including Land Use Change',
    'share_global_cumulative_co2': 'Share of Global Cumulative CO2',
    'share_global_cumulative_co2_including_luc': 'Share of Global Cumulative CO2 Including Land Use Change',
    'share_global_cement_co2': 'Share of Global Cement CO2',
    'share_global_cumulative_cement_co2': 'Share of Global Cumulative Cement CO2',
    'share_global_coal_co2': 'Share of Global Coal CO2',
    'share_global_cumulative_coal_co2': 'Share of Global Cumulative Coal CO2',
    'share_global_oil_co2': 'Share of Global Oil CO2',
    'share_global_cumulative_oil_co2': 'Share of Global Cumulative Oil CO2',
    'share_global_gas_co2': 'Share of Global Gas CO2',
    'share_global_cumulative_gas_co2': 'Share of Global Cumulative Gas CO2',
    'share_global_flaring_co2': 'Share of Global Flaring CO2',
    'share_global_cumulative_flaring_co2': 'Share of Global Cumulative Flaring CO2',
    'share_global_luc_co2': 'Share of Global Land Use Change CO2',
    'share_global_cumulative_luc_co2': 'Share of Global Cumulative Land Use Change CO2',
    'share_global_other_co2': 'Share of Global Other CO2',
    'share_global_cumulative_other_co2': 'Share of Global Cumulative Other CO2',
    
    # Climate Impact
    'temperature_change_from_co2': 'Temperature Change From CO2',
    'temperature_change_from_ch4': 'Temperature Change From Methane',
    'temperature_change_from_n2o': 'Temperature Change From Nitrous Oxide',
    'temperature_change_from_ghg': 'Temperature Change From Greenhouse Gas',
    'share_of_temperature_change_from_ghg': 'Share of Temperature Change From Greenhouse Gas',
    
    # Trade
    'trade_co2': 'Trade CO2',
    'trade_co2_share': 'Trade CO2 Share',
    'consumption_co2': 'Consumption CO2',
    'consumption_co2_per_capita': 'Consumption CO2 Per Capita',
    'consumption_co2_per_gdp': 'Consumption CO2 Per GDP',
}

# Check if all columns have mappings
missing_mappings = [col for col in df_cleaned.columns if col not in column_name_mapping]
if missing_mappings:
    print(f"Warning: {len(missing_mappings)} columns don't have mappings:")
    for col in missing_mappings:
        print(f"  - {col}")
        # Create a default mapping by replacing underscores and capitalizing
        default_name = col.replace('_', ' ').title()
        column_name_mapping[col] = default_name
else:
    print("All columns have mappings!")

print(f"\nTotal columns to rename: {len(df_cleaned.columns)}")

All columns have mappings!

Total columns to rename: 79

In [54]:
# Rename columns for same-measure dataframe
existing_mapping_same_measure = {k: v for k, v in column_name_mapping.items() if k in df_same_measure.columns}
df_same_measure_renamed = df_same_measure.rename(columns=existing_mapping_same_measure)

# Handle any unmapped columns
missing_mappings_same_measure = [col for col in df_same_measure_renamed.columns if col not in existing_mapping_same_measure.values() and col not in existing_mapping_same_measure.keys()]
for col in missing_mappings_same_measure:
    if col in df_same_measure.columns:
        default_name = col.replace('_', ' ').title()
        df_same_measure_renamed = df_same_measure_renamed.rename(columns={col: default_name})

print("="*80)
print("SAME-MEASURE CLEANING COMPLETE (Approach C)")
print("="*80)
print(f"\nRenamed {len(existing_mapping_same_measure)} columns")
print(f"\nFinal dataset shape: {df_same_measure_renamed.shape}")
print(f"Rows: {df_same_measure_renamed.shape[0]:,}")
print(f"Columns: {df_same_measure_renamed.shape[1]}")
print(f"\nYear range: {df_same_measure_renamed['Year'].min()} to {df_same_measure_renamed['Year'].max()}")
print("\nSample of renamed columns (first 10):")
for old_name, new_name in list(existing_mapping_same_measure.items())[:10]:
    print(f"  {old_name} -> {new_name}")
if len(existing_mapping_same_measure) > 10:
    print(f"  ... and {len(existing_mapping_same_measure) - 10} more columns")

================================================================================
SAME-MEASURE CLEANING COMPLETE (Approach C)
================================================================================

Renamed 70 columns

Final dataset shape: (45209, 70)
Rows: 45,209
Columns: 70

Year range: 1832 to 2023

Sample of renamed columns (first 10):
  country -> Country
  year -> Year
  iso_code -> ISO Country Code
  population -> Population
  gdp -> Gross Domestic Product
  cement_co2 -> Cement CO2 Emissions
  cement_co2_per_capita -> Cement CO2 Per Capita
  coal_co2 -> Coal CO2 Emissions
  coal_co2_per_capita -> Coal CO2 Per Capita
  oil_co2 -> Oil CO2 Emissions
  ... and 60 more columns

In [55]:
# Load the cleaned dataset
df_verify = df_same_measure_renamed

print("="*80)
print("VERIFYING DERIVED COLUMNS")
print("="*80)
print(f"\nDataset Shape: {df_verify.shape}")
print(f"Total Columns: {len(df_verify.columns)}")


# Define base columns (direct measurements - cannot be derived)
base_columns = [
    # Identifiers
    'Country', 'Year', 'ISO Country Code',
    # Demographics
    'Population', 'Gross Domestic Product',
    # CO2 by source
    'CO2 Emissions', 'CO2 Including Land Use Change',
    'Coal CO2 Emissions', 'Oil CO2 Emissions', 'Gas CO2 Emissions',
    'Cement CO2 Emissions', 'Flaring CO2 Emissions',
    'Land Use Change CO2', 'Other Industry CO2',
    # Energy
    'Primary Energy Consumption',
    # Other GHGs
    'Methane', 'Nitrous Oxide',
    'Total Greenhouse Gas', 'Total Greenhouse Gas Excluding Land Use Change',
    # Climate
    'Temperature Change From CO2', 'Temperature Change From Methane',
    'Temperature Change From Nitrous Oxide', 'Temperature Change From Greenhouse Gas',
    # Trade
    'Trade CO2', 'Consumption CO2',
]

print(len(base_columns))

# Filter to only columns that exist
base_columns = [col for col in base_columns if col in df_verify.columns]

print(f"\nBase Columns: {len(base_columns)}")
print(f"Base columns: {', '.join(base_columns[:10])}...")

# Derived columns are all others
all_columns = set(df_verify.columns)
derived_columns = sorted(list(all_columns - set(base_columns)))

print(f"\nDerived Columns (candidates for removal): {len(derived_columns)}")
print(f"Sample derived columns: {', '.join(derived_columns[:10])}...")

================================================================================
VERIFYING DERIVED COLUMNS
================================================================================

Dataset Shape: (45209, 70)
Total Columns: 70
25

Base Columns: 25
Base columns: Country, Year, ISO Country Code, Population, Gross Domestic Product, CO2 Emissions, CO2 Including Land Use Change, Coal CO2 Emissions, Oil CO2 Emissions, Gas CO2 Emissions...

Derived Columns (candidates for removal): 45
Sample derived columns: CO2 Growth Absolute, CO2 Growth Percentage, CO2 Including Land Use Change Growth Absolute, CO2 Including Land Use Change Growth Percentage, CO2 Including Land Use Change Per Capita, CO2 Including Land Use Change Per GDP, CO2 Including Land Use Change Per Unit Energy, CO2 Per Capita, CO2 Per GDP, CO2 Per Unit Energy...

In [56]:
# Define expected derived column relationships
derived_relationships = []

# Per-capita columns: X / Population * 1e6
per_capita_mappings = {
    'CO2 Emissions': 'CO2 Per Capita',
    'CO2 Including Land Use Change': 'CO2 Including Land Use Change Per Capita',
    'Coal CO2 Emissions': 'Coal CO2 Per Capita',
    'Oil CO2 Emissions': 'Oil CO2 Per Capita',
    'Gas CO2 Emissions': 'Gas CO2 Per Capita',
    'Cement CO2 Emissions': 'Cement CO2 Per Capita',
    'Flaring CO2 Emissions': 'Flaring CO2 Per Capita',
    'Land Use Change CO2': 'Land Use Change CO2 Per Capita',
    'Other Industry CO2': 'Other CO2 Per Capita',
    'Methane': 'Methane Per Capita',
    'Nitrous Oxide': 'Nitrous Oxide Per Capita',
    'Total Greenhouse Gas': 'Greenhouse Gas Per Capita',
    'Total Greenhouse Gas Excluding Land Use Change': 'Greenhouse Gas Excluding Land Use Change Per Capita',
    'Consumption CO2': 'Consumption CO2 Per Capita',
    'Primary Energy Consumption': 'Energy Per Capita',
}

for base_col, derived_col in per_capita_mappings.items():
    if base_col in df_verify.columns and derived_col in df_verify.columns:
        derived_relationships.append({
            'derived_col': derived_col,
            'base_cols': [base_col, 'Population'],
            'formula': f'{base_col} / Population * 1e6',
            'type': 'Per-capita'
        })

# Per-GDP columns: X / GDP
per_gdp_mappings = {
    'CO2 Emissions': 'CO2 Per GDP',
    'CO2 Including Land Use Change': 'CO2 Including Land Use Change Per GDP',
    'Consumption CO2': 'Consumption CO2 Per GDP',
    'Primary Energy Consumption': 'Energy Per GDP',
}

for base_col, derived_col in per_gdp_mappings.items():
    if base_col in df_verify.columns and derived_col in df_verify.columns:
        derived_relationships.append({
            'derived_col': derived_col,
            'base_cols': [base_col, 'Gross Domestic Product'],
            'formula': f'{base_col} / GDP',
            'type': 'Per-GDP'
        })

# Per-unit energy columns: X / Energy
per_unit_energy_mappings = {
    'CO2 Emissions': 'CO2 Per Unit Energy',
    'CO2 Including Land Use Change': 'CO2 Including Land Use Change Per Unit Energy',
}

for base_col, derived_col in per_unit_energy_mappings.items():
    if base_col in df_verify.columns and derived_col in df_verify.columns:
        derived_relationships.append({
            'derived_col': derived_col,
            'base_cols': [base_col, 'Primary Energy Consumption'],
            'formula': f'{base_col} / Primary Energy Consumption',
            'type': 'Per-unit energy'
        })

# Cumulative columns: cumsum(X) per country
cumulative_mappings = {
    'CO2 Emissions': 'Cumulative CO2',
    'CO2 Including Land Use Change': 'Cumulative CO2 Including Land Use Change',
    'Coal CO2 Emissions': 'Cumulative Coal CO2',
    'Oil CO2 Emissions': 'Cumulative Oil CO2',
    'Gas CO2 Emissions': 'Cumulative Gas CO2',
    'Cement CO2 Emissions': 'Cumulative Cement CO2',
    'Flaring CO2 Emissions': 'Cumulative Flaring CO2',
    'Land Use Change CO2': 'Cumulative Land Use Change CO2',
    'Other Industry CO2': 'Cumulative Other CO2',
}

for base_col, derived_col in cumulative_mappings.items():
    if base_col in df_verify.columns and derived_col in df_verify.columns:
        derived_relationships.append({
            'derived_col': derived_col,
            'base_cols': [base_col],
            'formula': f'cumsum({base_col}) per country',
            'type': 'Cumulative'
        })

# Share of global columns: X / Global_X * 100
share_mappings = {
    'CO2 Emissions': 'Share of Global CO2',
    'CO2 Including Land Use Change': 'Share of Global CO2 Including Land Use Change',
    'Coal CO2 Emissions': 'Share of Global Coal CO2',
    'Oil CO2 Emissions': 'Share of Global Oil CO2',
    'Gas CO2 Emissions': 'Share of Global Gas CO2',
    'Cement CO2 Emissions': 'Share of Global Cement CO2',
    'Flaring CO2 Emissions': 'Share of Global Flaring CO2',
    'Land Use Change CO2': 'Share of Global Land Use Change CO2',
    'Temperature Change From Greenhouse Gas': 'Share of Temperature Change From Greenhouse Gas',
    'Other Industry CO2': 'Share of Global Other CO2',
}

for base_col, derived_col in share_mappings.items():
    if base_col in df_verify.columns and derived_col in df_verify.columns:
        derived_relationships.append({
            'derived_col': derived_col,
            'base_cols': [base_col],
            'formula': f'{base_col} / Global_{base_col} * 100',
            'type': 'Share of global'
        })

# Growth metrics
growth_mappings = {
    ('CO2 Emissions', 'CO2 Growth Absolute'): 'diff',
    ('CO2 Emissions', 'CO2 Growth Percentage'): 'pct_change',
    ('CO2 Including Land Use Change', 'CO2 Including Land Use Change Growth Absolute'): 'diff',
    ('CO2 Including Land Use Change', 'CO2 Including Land Use Change Growth Percentage'): 'pct_change',
}

for (base_col, derived_col), method in growth_mappings.items():
    if base_col in df_verify.columns and derived_col in df_verify.columns:
        derived_relationships.append({
            'derived_col': derived_col,
            'base_cols': [base_col],
            'formula': f'{method}({base_col})',
            'type': 'Growth'
        })

# Trade share
if 'Trade CO2' in df_verify.columns and 'CO2 Emissions' in df_verify.columns and 'Trade CO2 Share' in df_verify.columns:
    derived_relationships.append({
        'derived_col': 'Trade CO2 Share',
        'base_cols': ['Trade CO2', 'CO2 Emissions'],
        'formula': 'Trade CO2 / CO2 Emissions * 100',
        'type': 'Trade share'
    })

print(f"\nTotal derived relationships to verify: {len(derived_relationships)}")
print(f"\nBreakdown by type:")
from collections import Counter
type_counts = Counter([r['type'] for r in derived_relationships])
for dtype, count in type_counts.items():
    print(f"  {dtype}: {count}")

Total derived relationships to verify: 45

Breakdown by type:
  Per-capita: 15
  Per-GDP: 4
  Per-unit energy: 2
  Cumulative: 9
  Share of global: 10
  Growth: 4
  Trade share: 1

In [57]:
# Verify each derived column using R-squared
verification_results = []

print("="*80)
print("VERIFYING DERIVED COLUMNS WITH R")
print("="*80)

for rel in derived_relationships:
    derived_col = rel['derived_col']
    base_cols = rel['base_cols']
    formula_type = rel['type']
    
    # Check if all required columns exist
    if not all(col in df_verify.columns for col in base_cols + [derived_col]):
        continue
    
    # Get rows where both derived and base columns are not null
    mask = df_verify[derived_col].notna()
    for col in base_cols:
        mask = mask & df_verify[col].notna()
    
    if mask.sum() == 0:
        verification_results.append({
            'derived_col': derived_col,
            'type': formula_type,
            'formula': rel['formula'],
            'r2': np.nan,
            'n_samples': 0,
            'verified': False,
            'reason': 'No overlapping non-null values'
        })
        continue
    
    # Calculate derived value based on formula type
    calculated = None
    
    if formula_type == 'Per-capita':
        base_col = base_cols[0]
        calculated = (df_verify[base_col] / df_verify['Population']) * 1e6
    
    elif formula_type == 'Per-GDP':
        base_col = base_cols[0]
        calculated = df_verify[base_col] / df_verify['Gross Domestic Product']
        # Handle division by zero
        calculated = np.where(df_verify['Gross Domestic Product'] != 0, calculated, np.nan)
    
    elif formula_type == 'Per-unit energy':
        base_col = base_cols[0]
        calculated = df_verify[base_col] / df_verify['Primary Energy Consumption']
        calculated = np.where(df_verify['Primary Energy Consumption'] != 0, calculated, np.nan)
    
    elif formula_type == 'Cumulative':
        base_col = base_cols[0]
        # Sort by country and year, then compute cumulative sum
        df_sorted = df_verify.sort_values(['Country', 'Year']).copy()
        calculated_series = df_sorted.groupby('Country')[base_col].cumsum()
        # Create a series aligned with original dataframe
        calculated = pd.Series(index=df_verify.index, dtype=float)
        calculated.loc[df_sorted.index] = calculated_series.values
    
    elif formula_type == 'Share of global':
        base_col = base_cols[0]
        # Compute global total per year
        global_totals = df_verify.groupby('Year')[base_col].transform('sum')
        calculated_values = (df_verify[base_col] / global_totals) * 100
        calculated = pd.Series(np.where(global_totals != 0, calculated_values, np.nan), index=df_verify.index)
    
    elif formula_type == 'Growth':
        base_col = base_cols[0]
        if 'Absolute' in derived_col:
            # Absolute growth: diff
            df_sorted = df_verify.sort_values(['Country', 'Year']).copy()
            calculated_series = df_sorted.groupby('Country')[base_col].diff()
            # Create a series aligned with original dataframe
            calculated = pd.Series(index=df_verify.index, dtype=float)
            calculated.loc[df_sorted.index] = calculated_series.values
        else:
            # Percentage growth: pct_change
            df_sorted = df_verify.sort_values(['Country', 'Year']).copy()
            prev_values = df_sorted.groupby('Country')[base_col].shift(1)
            pct_change = ((df_sorted[base_col] - prev_values) / prev_values) * 100
            pct_change_clean = np.where(prev_values != 0, pct_change, np.nan)
            # Create a series aligned with original dataframe
            calculated = pd.Series(index=df_verify.index, dtype=float)
            calculated.loc[df_sorted.index] = pct_change_clean
    
    elif formula_type == 'Trade share':
        calculated_values = (df_verify['Trade CO2'] / df_verify['CO2 Emissions']) * 100
        calculated = pd.Series(np.where(df_verify['CO2 Emissions'] != 0, calculated_values, np.nan), index=df_verify.index)
    
    if calculated is None:
        continue
    
    # Get actual values
    actual = df_verify[derived_col]
    
    # Find overlapping non-null values
    overlap_mask = mask & pd.notna(calculated) & pd.notna(actual)
    
    if overlap_mask.sum() < 10:  # Need at least 10 samples
        verification_results.append({
            'derived_col': derived_col,
            'type': formula_type,
            'formula': rel['formula'],
            'pearson_r': np.nan,
            'n_samples': overlap_mask.sum(),
            'verified': False,
            'reason': f'Insufficient samples ({overlap_mask.sum()})'
        })
        continue
    
    # Calculate Pearson correlation coefficient
    actual_values = actual[overlap_mask]
    calculated_values = calculated[overlap_mask]
    
    try:
        # Use numpy corrcoef to get Pearson correlation coefficient
        pearson_r = np.corrcoef(actual_values, calculated_values)[0, 1]
        
        # Verify if absolute Pearson r > 0.9 (catches both positive and negative correlations)
        verified = abs(pearson_r) > 0.9
        
        verification_results.append({
            'derived_col': derived_col,
            'type': formula_type,
            'formula': rel['formula'],
            'pearson_r': pearson_r,
            'n_samples': overlap_mask.sum(),
            'verified': verified,
            'reason': 'Verified' if verified else f'|r|={abs(pearson_r):.4f} < 0.9'
        })
    except Exception as e:
        verification_results.append({
            'derived_col': derived_col,
            'type': formula_type,
            'formula': rel['formula'],
            'pearson_r': np.nan,
            'n_samples': overlap_mask.sum(),
            'verified': False,
            'reason': f'Error: {str(e)}'
        })

print(f"\nVerification complete for {len(verification_results)} derived columns")

================================================================================
VERIFYING DERIVED COLUMNS WITH R
================================================================================

Verification complete for 45 derived columns

In [58]:
# Display verification results
results_df = pd.DataFrame(verification_results)

print("="*80)
print("VERIFICATION RESULTS SUMMARY")
print("="*80)

# Summary statistics
verified_count = results_df['verified'].sum()
total_count = len(results_df)
print(f"\nVerified (R > 0.9): {verified_count} / {total_count} ({verified_count/total_count*100:.1f}%)")

# Group by type
print("\nResults by type:")
type_summary = results_df.groupby('type').agg({
    'verified': ['sum', 'count']
}).reset_index()
type_summary.columns = ['Type', 'Verified', 'Total']
type_summary['Percentage'] = (type_summary['Verified'] / type_summary['Total'] * 100).round(1)
print(type_summary.to_string(index=False))

# Show detailed results
print("\n" + "="*80)
print("DETAILED RESULTS")
print("="*80)

# Sort by verified status and R²
results_df_sorted = results_df.sort_values(['verified', 'pearson_r'], ascending=[False, False])

print("\nVerified columns (can be removed):")
verified_cols = results_df_sorted[results_df_sorted['verified'] == True]
if len(verified_cols) > 0:
    display_cols = ['derived_col', 'type', 'pearson_r', 'n_samples']
    print(verified_cols[display_cols].to_string(index=False))
else:
    print("  None")

print("\n\nNot verified columns (keep or investigate):")
not_verified_cols = results_df_sorted[results_df_sorted['verified'] == False]
if len(not_verified_cols) > 0:
    display_cols = ['derived_col', 'type', 'pearson_r', 'reason', 'n_samples']
    print(not_verified_cols[display_cols].head(20).to_string(index=False))
    if len(not_verified_cols) > 20:
        print(f"\n  ... and {len(not_verified_cols) - 20} more")

================================================================================
VERIFICATION RESULTS SUMMARY
================================================================================

Verified (R > 0.9): 45 / 45 (100.0%)

Results by type:
           Type  Verified  Total  Percentage
     Cumulative         9      9       100.0
         Growth         4      4       100.0
        Per-GDP         4      4       100.0
     Per-capita        15     15       100.0
Per-unit energy         2      2       100.0
Share of global        10     10       100.0
    Trade share         1      1       100.0

================================================================================
DETAILED RESULTS
================================================================================

Verified columns (can be removed):
                                        derived_col            type  pearson_r  n_samples
           Cumulative CO2 Including Land Use Change      Cumulative   1.000000      23585
                     Cumulative Land Use Change CO2      Cumulative   1.000000      37236
                                 Cumulative Oil CO2      Cumulative   1.000000      24187
                                 Cumulative Gas CO2      Cumulative   1.000000      16984
                              Cumulative Cement CO2      Cumulative   1.000000      24545
                             Cumulative Flaring CO2      Cumulative   1.000000      14787
                               Cumulative Other CO2      Cumulative   1.000000       2956
      CO2 Including Land Use Change Growth Absolute          Growth   1.000000      23285
                                CO2 Growth Absolute          Growth   1.000000      25473
              CO2 Including Land Use Change Per GDP         Per-GDP   1.000000      14272
                                     Energy Per GDP         Per-GDP   1.000000       7696
                                    Trade CO2 Share     Trade share   1.000000       4501
                             Flaring CO2 Per Capita      Per-capita   1.000000      13490
                                        CO2 Per GDP         Per-GDP   1.000000      14620
                            Consumption CO2 Per GDP         Per-GDP   0.999999       3916
                          Greenhouse Gas Per Capita      Per-capita   0.999998      35813
                                 Oil CO2 Per Capita      Per-capita   0.999996      22971
Greenhouse Gas Excluding Land Use Change Per Capita      Per-capita   0.999995      35639
                                     Cumulative CO2      Cumulative   0.999985      25816
                                 Methane Per Capita      Per-capita   0.999983      35813
                     Land Use Change CO2 Per Capita      Per-capita   0.999983      35648
                                     CO2 Per Capita      Per-capita   0.999979      24511
                                 Gas CO2 Per Capita      Per-capita   0.999971      15827
                                Cumulative Coal CO2      Cumulative   0.999953      20835
      CO2 Including Land Use Change Per Unit Energy Per-unit energy   0.999942       9406
                           Nitrous Oxide Per Capita      Per-capita   0.999931      36320
                              Cement CO2 Per Capita      Per-capita   0.999914      22707
           CO2 Including Land Use Change Per Capita      Per-capita   0.999895      22715
                         Consumption CO2 Per Capita      Per-capita   0.999778       4370
                                Coal CO2 Per Capita      Per-capita   0.999771      19633
                               Other CO2 Per Capita      Per-capita   0.999666       2324
    CO2 Including Land Use Change Growth Percentage          Growth   0.999567      23285
                          Share of Global Other CO2 Share of global   0.999527       2108
                        Share of Global Flaring CO2 Share of global   0.998240      10869
                                  Energy Per Capita      Per-capita   0.997912      10109
                            Share of Global Oil CO2 Share of global   0.997182      23592
                Share of Global Land Use Change CO2 Share of global   0.996622      37236
    Share of Temperature Change From Greenhouse Gas Share of global   0.996138      41001
                                CO2 Per Unit Energy Per-unit energy   0.996136      10055
                            Share of Global Gas CO2 Share of global   0.996017      15034
                           Share of Global Coal CO2 Share of global   0.995937      20835
                                Share of Global CO2 Share of global   0.995937      25816
      Share of Global CO2 Including Land Use Change Share of global   0.990440      23585
                              CO2 Growth Percentage          Growth   0.989980      24875
                         Share of Global Cement CO2 Share of global   0.989808      21563


Not verified columns (keep or investigate):

In [59]:
# Remove verified derived columns
verified_derived_cols = results_df[results_df['verified'] == True]['derived_col'].tolist()

print("="*80)
print("REMOVING VERIFIED DERIVED COLUMNS")
print("="*80)

print(f"\nColumns to remove: {len(verified_derived_cols)}")
if len(verified_derived_cols) > 0:
    print("\nRemoved columns:")
    for i, col in enumerate(verified_derived_cols, 1):
        print(f"  {i:2d}. {col}")

# Create dataset without verified derived columns
df_no_derived = df_verify.drop(columns=verified_derived_cols, errors='ignore')

print(f"\n\nDataset Statistics:")
print(f"  Original columns: {len(df_verify.columns)}")
print(f"  After removal: {len(df_no_derived.columns)}")
print(f"  Columns removed: {len(df_verify.columns) - len(df_no_derived.columns)}")
print(f"  Rows: {len(df_no_derived):,}")


print("\nNote: Derived columns can be recomputed from base columns after imputation.")

================================================================================
REMOVING VERIFIED DERIVED COLUMNS
================================================================================

Columns to remove: 45

Removed columns:
   1. CO2 Per Capita
   2. CO2 Including Land Use Change Per Capita
   3. Coal CO2 Per Capita
   4. Oil CO2 Per Capita
   5. Gas CO2 Per Capita
   6. Cement CO2 Per Capita
   7. Flaring CO2 Per Capita
   8. Land Use Change CO2 Per Capita
   9. Other CO2 Per Capita
  10. Methane Per Capita
  11. Nitrous Oxide Per Capita
  12. Greenhouse Gas Per Capita
  13. Greenhouse Gas Excluding Land Use Change Per Capita
  14. Consumption CO2 Per Capita
  15. Energy Per Capita
  16. CO2 Per GDP
  17. CO2 Including Land Use Change Per GDP
  18. Consumption CO2 Per GDP
  19. Energy Per GDP
  20. CO2 Per Unit Energy
  21. CO2 Including Land Use Change Per Unit Energy
  22. Cumulative CO2
  23. Cumulative CO2 Including Land Use Change
  24. Cumulative Coal CO2
  25. Cumulative Oil CO2
  26. Cumulative Gas CO2
  27. Cumulative Cement CO2
  28. Cumulative Flaring CO2
  29. Cumulative Land Use Change CO2
  30. Cumulative Other CO2
  31. Share of Global CO2
  32. Share of Global CO2 Including Land Use Change
  33. Share of Global Coal CO2
  34. Share of Global Oil CO2
  35. Share of Global Gas CO2
  36. Share of Global Cement CO2
  37. Share of Global Flaring CO2
  38. Share of Global Land Use Change CO2
  39. Share of Temperature Change From Greenhouse Gas
  40. Share of Global Other CO2
  41. CO2 Growth Absolute
  42. CO2 Growth Percentage
  43. CO2 Including Land Use Change Growth Absolute
  44. CO2 Including Land Use Change Growth Percentage
  45. Trade CO2 Share


Dataset Statistics:
  Original columns: 70
  After removal: 25
  Columns removed: 45
  Rows: 45,209

Note: Derived columns can be recomputed from base columns after imputation.

### MISSING VALUE IMPUTATION ANALYSIS
 
### This section analyzes missing data patterns before implementing imputation
### strategy. We'll use the cleaned dataset with renamed columns.

In [60]:
# Load the cleaned dataset with renamed columns
df_impute = df_no_derived

print("="*80)
print("MISSING VALUE IMPUTATION ANALYSIS")
print("="*80)
print(f"\nDataset Shape: {df_impute.shape}")
print(f"Year range: {df_impute['Year'].min()} to {df_impute['Year'].max()}")
print(f"Total missing values: {df_impute.isnull().sum().sum():,}")
print(f"Percentage missing: {(df_impute.isnull().sum().sum() / (df_impute.shape[0] * df_impute.shape[1])) * 100:.2f}%")

================================================================================
MISSING VALUE IMPUTATION ANALYSIS
================================================================================

Dataset Shape: (45209, 25)
Year range: 1832 to 2023
Total missing values: 425,940
Percentage missing: 37.69%

In [61]:
# Analyze missing data by time period
print("="*80)
print("MISSING DATA PATTERN BY TIME PERIOD")
print("="*80)

time_periods = [
    (1831, 1850, "1831-1850"),
    (1850, 1900, "1850-1900"),
    (1900, 1950, "1900-1950"),
    (1950, 1990, "1950-1990"),
    (1990, 2010, "1990-2010"),
    (2010, 2024, "2010-2023")
]

for start_year, end_year, label in time_periods:
    subset = df_impute[(df_impute['Year'] >= start_year) & (df_impute['Year'] < end_year)]
    if len(subset) > 0:
        missing_pct = (subset.isnull().sum().sum() / (len(subset) * len(subset.columns))) * 100
        print(f"{label}: {missing_pct:.1f}% missing ({len(subset):,} rows)")

================================================================================
MISSING DATA PATTERN BY TIME PERIOD
================================================================================
1831-1850: 75.0% missing (1,259 rows)
1850-1900: 46.9% missing (12,586 rows)
1900-1950: 42.5% missing (12,600 rows)
1950-1990: 30.5% missing (10,101 rows)
1990-2010: 20.2% missing (5,093 rows)
2010-2023: 20.1% missing (3,570 rows)

In [62]:
# Identify regional aggregates vs actual countries
print("="*80)
print("REGIONAL AGGREGATES vs COUNTRIES")
print("="*80)

countries_only = df_impute[df_impute['ISO Country Code'].notna()]
regions = df_impute[df_impute['ISO Country Code'].isna()]

print(f"\nCountries (with ISO codes):")
print(f"  Rows: {len(countries_only):,}")
print(f"  Unique countries: {countries_only['Country'].nunique()}")

print(f"\nRegional Aggregates (no ISO codes):")
print(f"  Rows: {len(regions):,}")
print(f"  Unique regions: {regions['Country'].nunique()}")

print(f"\nSample regional aggregates:")
if len(regions) > 0:
    sample_regions = regions['Country'].unique()[:15]
    for region in sample_regions:
        print(f"  - {region}")

# Show completeness comparison
print(f"\nData Completeness Comparison:")
countries_missing_pct = (countries_only.isnull().sum().sum() / (len(countries_only) * len(countries_only.columns))) * 100
regions_missing_pct = (regions.isnull().sum().sum() / (len(regions) * len(regions.columns))) * 100
print(f"  Countries: {countries_missing_pct:.1f}% missing")
print(f"  Regions: {regions_missing_pct:.1f}% missing")

================================================================================
REGIONAL AGGREGATES vs COUNTRIES
================================================================================

Countries (with ISO codes):
  Rows: 38,838
  Unique countries: 218

Regional Aggregates (no ISO codes):
  Rows: 6,371
  Unique regions: 37

Sample regional aggregates:
  - Africa
  - Africa (GCP)
  - Asia
  - Asia (GCP)
  - Asia (excl. China and India)
  - Central America (GCP)
  - Europe
  - Europe (GCP)
  - Europe (excl. EU-27)
  - Europe (excl. EU-28)
  - European Union (27)
  - European Union (28)
  - High-income countries
  - International aviation
  - International shipping

Data Completeness Comparison:
  Countries: 35.0% missing
  Regions: 54.2% missing

In [63]:
# Analyze missing values by column type
print("="*80)
print("MISSING VALUES BY COLUMN TYPE")
print("="*80)

# Key columns to check
key_columns = [
    'Population', 'Gross Domestic Product', 'CO2 Emissions', 'CO2 Per Capita',
    'Methane', 'Nitrous Oxide', 'Total Greenhouse Gas', 
    'Coal CO2 Emissions', 'Oil CO2 Emissions', 'Gas CO2 Emissions',
    'Primary Energy Consumption'
]

print("\nMissing percentage for key columns:")
for col in key_columns:
    if col in df_impute.columns:
        missing_pct = (df_impute[col].isna().sum() / len(df_impute)) * 100
        missing_count = df_impute[col].isna().sum()
        print(f"  {col}: {missing_pct:.1f}% ({missing_count:,} missing)")

================================================================================
MISSING VALUES BY COLUMN TYPE
================================================================================

Missing percentage for key columns:
  Population: 13.7% (6,178 missing)
  Gross Domestic Product: 66.5% (30,045 missing)
  CO2 Emissions: 38.9% (17,584 missing)
  Methane: 17.3% (7,799 missing)
  Nitrous Oxide: 15.3% (6,929 missing)
  Total Greenhouse Gas: 17.3% (7,799 missing)
  Coal CO2 Emissions: 53.9% (24,374 missing)
  Oil CO2 Emissions: 46.5% (21,021 missing)
  Gas CO2 Emissions: 62.4% (28,225 missing)
  Primary Energy Consumption: 77.5% (35,058 missing)

### PHASE 2: EXCLUDE REGIONAL AGGREGATES

### Filter out regional aggregates and keep only actual countries
### (those with ISO Country Codes)

In [64]:
# Exclude regional aggregates - keep only countries with ISO codes
df_countries = df_impute[df_impute['ISO Country Code'].notna()].copy()

print("="*80)
print("EXCLUDING REGIONAL AGGREGATES")
print("="*80)
print(f"\nOriginal dataset: {len(df_impute):,} rows")
print(f"After filtering (countries only): {len(df_countries):,} rows")
print(f"Removed: {len(df_impute) - len(df_countries):,} rows (regional aggregates)")
print(f"\nUnique countries: {df_countries['Country'].nunique()}")
print(f"Year range: {df_countries['Year'].min()} to {df_countries['Year'].max()}")

# Show missing values after filtering
missing_before = (df_impute.isnull().sum().sum() / (len(df_impute) * len(df_impute.columns))) * 100
missing_after = (df_countries.isnull().sum().sum() / (len(df_countries) * len(df_countries.columns))) * 100
print(f"\nMissing values:")
print(f"  Before filtering: {missing_before:.2f}%")
print(f"  After filtering: {missing_after:.2f}%")

================================================================================
EXCLUDING REGIONAL AGGREGATES
================================================================================

Original dataset: 45,209 rows
After filtering (countries only): 38,838 rows
Removed: 6,371 rows (regional aggregates)

Unique countries: 218
Year range: 1832 to 2023

Missing values:
  Before filtering: 37.69%
  After filtering: 34.97%

In [65]:
# Define base columns (to be interpolated directly)
base_columns = [
    'Country', 'Year', 'ISO Country Code',
    'Population',
    'Gross Domestic Product',
    'CO2 Emissions',
    'CO2 Including Land Use Change',
    'Coal CO2 Emissions',
    'Oil CO2 Emissions',
    'Gas CO2 Emissions',
    'Cement CO2 Emissions',
    'Flaring CO2 Emissions',
    'Land Use Change CO2',
    'Other Industry CO2',
    'Primary Energy Consumption',
    'Methane',
    'Nitrous Oxide',
    'Total Greenhouse Gas',
    'Total Greenhouse Gas Excluding Land Use Change',
    'Temperature Change From CO2',
    'Temperature Change From Methane',
    'Temperature Change From Nitrous Oxide',
    'Temperature Change From Greenhouse Gas',
    'Trade CO2',
    'Consumption CO2',
]

# Filter to only columns that exist in the dataframe
base_columns = [col for col in base_columns if col in df_countries.columns]

print("="*80)
print("BASE COLUMNS (to be interpolated)")
print("="*80)
print(f"\nTotal base columns: {len(base_columns)}")
print("\nBase columns:")
for i, col in enumerate(base_columns, 1):
    print(f"  {i:2d}. {col}")

# Derived columns are all others (per-capita, cumulative, shares, growth metrics)
all_columns = set(df_countries.columns)
derived_columns = sorted(list(all_columns - set(base_columns)))

print(f"\n\nDERIVED COLUMNS (to be computed after imputation)")
print("="*80)
print(f"\nTotal derived columns: {len(derived_columns)}")
print("\nDerived columns:")
for i, col in enumerate(derived_columns, 1):
    print(f"  {i:2d}. {col}")

================================================================================
BASE COLUMNS (to be interpolated)
================================================================================

Total base columns: 25

Base columns:
   1. Country
   2. Year
   3. ISO Country Code
   4. Population
   5. Gross Domestic Product
   6. CO2 Emissions
   7. CO2 Including Land Use Change
   8. Coal CO2 Emissions
   9. Oil CO2 Emissions
  10. Gas CO2 Emissions
  11. Cement CO2 Emissions
  12. Flaring CO2 Emissions
  13. Land Use Change CO2
  14. Other Industry CO2
  15. Primary Energy Consumption
  16. Methane
  17. Nitrous Oxide
  18. Total Greenhouse Gas
  19. Total Greenhouse Gas Excluding Land Use Change
  20. Temperature Change From CO2
  21. Temperature Change From Methane
  22. Temperature Change From Nitrous Oxide
  23. Temperature Change From Greenhouse Gas
  24. Trade CO2
  25. Consumption CO2


DERIVED COLUMNS (to be computed after imputation)
================================================================================

Total derived columns: 0

Derived columns:


### PHASE 3: IMPLEMENT TIME-SERIES INTERPOLATION
 
### For each base column, interpolate missing values per country using
### time-series methods (linear interpolation + forward/backward fill)

In [66]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

# ==========================================
# 1. DEFINE THE CATEGORIES
# ==========================================

# STRATEGY A: Log-Linear Regression
# Use for: Metrics that grow exponentially and should never be zero/negative.
# Math: fits log(y) = mx + c
log_linear_cols = [
    'Population',
    'Gross Domestic Product',
    'Primary Energy Consumption',
    'Total Greenhouse Gas',
    'Total Greenhouse Gas Excluding Land Use Change',
    'Methane',
    'Nitrous Oxide'
]

# STRATEGY B: Zero Imputation (Hard Fill)
# Use for: Industrial sectors that didn't exist in the past. 
# Logic: If data is missing (e.g., 1800s), assume it is 0.
zero_impute_cols = [
    'CO2 Emissions',             # Fossil CO2 implies industrial activity
    'Coal CO2 Emissions',
    'Oil CO2 Emissions',
    'Gas CO2 Emissions',
    'Cement CO2 Emissions',
    'Flaring CO2 Emissions',
    'Other Industry CO2',
    'Trade CO2',
    'Consumption CO2'
]

# STRATEGY C: Standard Linear Regression
# Use for: Metrics that can be negative or have no "zero floor".
# Math: fits y = mx + c (allows negatives)
standard_linear_cols = [
    'Temperature Change From CO2',
    'Temperature Change From Methane',
    'Temperature Change From Nitrous Oxide',
    'Temperature Change From Greenhouse Gas',
    'Land Use Change CO2',           # Can be negative (afforestation)
    'CO2 Including Land Use Change'  # Dominated by LUC in early history
]

# ==========================================
# 2. THE IMPUTATION FUNCTION
# ==========================================

def impute_by_category(group):
    """
    Applies different imputation logic based on column category.
    """
    # Sort by year to ensure timeline is correct
    group = group.sort_values('Year').copy()
    
    # Get all columns in this group that need processing
    # (Intersection of group columns and our known lists)
    all_targets = log_linear_cols + zero_impute_cols + standard_linear_cols
    cols_to_process = [c for c in all_targets if c in group.columns]

    for col in cols_to_process:
        # Identify missing data
        mask_missing = group[col].isna()
        if not mask_missing.any():
            continue
            
        # ---------------------------------------------------------
        # CATEGORY 1: ZERO IMPUTE (The User's Override)
        # ---------------------------------------------------------
        if col in zero_impute_cols:
            # Simply fill missing values with 0
            # (Assumes missing history = pre-industrial era = 0)
            group.loc[mask_missing, col] = 0
            continue

        # ---------------------------------------------------------
        # PREPARE FOR REGRESSION (Strategies A & C)
        # ---------------------------------------------------------
        mask_known = group[col].notna()
        n_known = mask_known.sum()
        
        # Need at least 3 points to regress safely
        if n_known < 3:
            continue

        X_known = group.loc[mask_known, 'Year'].values.reshape(-1, 1)
        y_known = group.loc[mask_known, col].values
        X_missing = group.loc[mask_missing, 'Year'].values.reshape(-1, 1)

        # ---------------------------------------------------------
        # CATEGORY 2: LOG-LINEAR
        # ---------------------------------------------------------
        if col in log_linear_cols:
            # Log-Linear requires strictly positive data
            if (y_known > 0).all():
                # Train on Log
                y_train = np.log(y_known)
                model = LinearRegression()
                model.fit(X_known, y_train)
                
                # Predict and Convert Back
                pred_log = model.predict(X_missing)
                predictions = np.exp(pred_log)
                
                group.loc[mask_missing, col] = predictions
            else:
                # Fallback to linear if data contains zeros/negatives (rare for GDP/Pop)
                model = LinearRegression()
                model.fit(X_known, y_known)
                predictions = model.predict(X_missing)
                predictions = np.maximum(predictions, 0) # Safety clip
                group.loc[mask_missing, col] = predictions

        # ---------------------------------------------------------
        # CATEGORY 3: STANDARD LINEAR
        # ---------------------------------------------------------
        elif col in standard_linear_cols:
            model = LinearRegression()
            model.fit(X_known, y_known)
            predictions = model.predict(X_missing)
            
            # No clipping for Temperature/LUC (negatives allowed)
            group.loc[mask_missing, col] = predictions

    return group

# ==========================================
# 3. EXECUTION
# ==========================================

print("Starting Categorized Imputation...")
print(f"Log-Linear Columns: {len(log_linear_cols)}")
print(f"Zero-Impute Columns: {len(zero_impute_cols)}")
print(f"Standard Linear Columns: {len(standard_linear_cols)}")

# Apply the function group-by-group
# (Assuming 'df_countries' is your main DataFrame)
df_imputed = df_countries.groupby('Country', group_keys=False).apply(impute_by_category)

print("Imputation Complete.")

Starting Categorized Imputation...
Log-Linear Columns: 7
Zero-Impute Columns: 9
Standard Linear Columns: 6
Imputation Complete.

/var/folders/bg/hbf8gs7j6h1d30g9pksr5kp80000gn/T/ipykernel_40686/3491033360.py:142: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_imputed = df_countries.groupby('Country', group_keys=False).apply(impute_by_category)

In [67]:
# print("Saving cleaned dataset...")
# df_imputed.to_csv("cleaned_co2_data_imputed.csv", index=False)

In [68]:
df = df_imputed

print("Dataset Shape:", df.shape)
print("\nColumn Names:")
print(df.columns.tolist())
print("\nFirst few rows:")
df.head()

Dataset Shape: (38838, 25)

Column Names:
['Country', 'Year', 'ISO Country Code', 'Population', 'Gross Domestic Product', 'Cement CO2 Emissions', 'CO2 Emissions', 'CO2 Including Land Use Change', 'Coal CO2 Emissions', 'Consumption CO2', 'Flaring CO2 Emissions', 'Gas CO2 Emissions', 'Land Use Change CO2', 'Methane', 'Nitrous Oxide', 'Oil CO2 Emissions', 'Other Industry CO2', 'Primary Energy Consumption', 'Temperature Change From Methane', 'Temperature Change From CO2', 'Temperature Change From Greenhouse Gas', 'Temperature Change From Nitrous Oxide', 'Total Greenhouse Gas', 'Total Greenhouse Gas Excluding Land Use Change', 'Trade CO2']

First few rows:

,Country,Year,ISO Country Code,Population,Gross Domestic Product,Cement CO2 Emissions,CO2 Emissions,CO2 Including Land Use Change,Coal CO2 Emissions,Consumption CO2,...,Oil CO2 Emissions,Other Industry CO2,Primary Energy Consumption,Temperature Change From Methane,Temperature Change From CO2,Temperature Change From Greenhouse Gas,Temperature Change From Nitrous Oxide,Total Greenhouse Gas,Total Greenhouse Gas Excluding Land Use Change,Trade CO2
82,Afghanistan,1832,AFG,3460553.0,5.721142e+08,0.0,0.0,6.844964,0.0,0.0,...,0.0,0.0,0.152692,-0.000166,-0.000141,-0.000461,0.0,7.112945,0.268513,0.0
83,Afghanistan,1833,AFG,3476034.0,5.852474e+08,0.0,0.0,6.852516,0.0,0.0,...,0.0,0.0,0.156830,-0.000163,-0.000139,-0.000452,0.0,7.166271,0.273552,0.0
84,Afghanistan,1834,AFG,3491585.0,5.986821e+08,0.0,0.0,6.860068,0.0,0.0,...,0.0,0.0,0.161079,-0.000161,-0.000137,-0.000444,0.0,7.219996,0.278687,0.0
85,Afghanistan,1835,AFG,3507205.0,6.124252e+08,0.0,0.0,6.867620,0.0,0.0,...,0.0,0.0,0.165444,-0.000159,-0.000135,-0.000435,0.0,7.274125,0.283917,0.0
86,Afghanistan,1836,AFG,3522896.0,6.264838e+08,0.0,0.0,6.875172,0.0,0.0,...,0.0,0.0,0.169928,-0.000157,-0.000133,-0.000427,0.0,7.328659,0.289246,0.0

In [69]:
# Get the unique country names from the 'Country' column
country_names = df['Country'].unique()

# Print the country names
print("Unique Country Names in the Cleaned Dataset:")
for country in country_names:
    print(country)

print(f"\nTotal unique countries: {len(country_names)}")

Unique Country Names in the Cleaned Dataset:
Afghanistan
Albania
Algeria
Andorra
Angola
Anguilla
Antarctica
Antigua and Barbuda
Argentina
Armenia
Aruba
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bermuda
Bhutan
Bolivia
Bonaire Sint Eustatius and Saba
Bosnia and Herzegovina
Botswana
Brazil
British Virgin Islands
Brunei
Bulgaria
Burkina Faso
Burundi
Cambodia
Cameroon
Canada
Cape Verde
Central African Republic
Chad
Chile
China
Christmas Island
Colombia
Comoros
Congo
Cook Islands
Costa Rica
Cote d'Ivoire
Croatia
Cuba
Curacao
Cyprus
Czechia
Democratic Republic of Congo
Denmark
Djibouti
Dominica
Dominican Republic
East Timor
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Eswatini
Ethiopia
Faroe Islands
Fiji
Finland
France
French Polynesia
Gabon
Gambia
Georgia
Germany
Ghana
Greece
Greenland
Grenada
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
Honduras
Hong Kong
Hungary
Iceland
India
Indonesia
Iran
Iraq
Ireland
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kiribati
Kuwait
Kyrgyzstan
Laos
Latvia
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Luxembourg
Macao
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Mauritania
Mauritius
Mexico
Micronesia (country)
Moldova
Monaco
Mongolia
Montenegro
Montserrat
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Netherlands
New Caledonia
New Zealand
Nicaragua
Niger
Nigeria
Niue
North Korea
North Macedonia
Norway
Oman
Pakistan
Palau
Palestine
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Qatar
Romania
Russia
Rwanda
Saint Helena
Saint Kitts and Nevis
Saint Lucia
Saint Pierre and Miquelon
Saint Vincent and the Grenadines
Samoa
San Marino
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Sint Maarten (Dutch part)
Slovakia
Slovenia
Solomon Islands
Somalia
South Africa
South Korea
South Sudan
Spain
Sri Lanka
Sudan
Suriname
Sweden
Switzerland
Syria
Taiwan
Tajikistan
Tanzania
Thailand
Togo
Tonga
Trinidad and Tobago
Tunisia
Turkey
Turkmenistan
Turks and Caicos Islands
Tuvalu
Uganda
Ukraine
United Arab Emirates
United Kingdom
United States
Uruguay
Uzbekistan
Vanuatu
Vatican
Venezuela
Vietnam
Wallis and Futuna
Yemen
Zambia
Zimbabwe

Total unique countries: 218

In [70]:
# Step 1: Define ACTUAL country existence years based on historical formation/independence dates
# This replaces the flawed "first CO2 emission" heuristic

print("="*80)
print("STEP 1: DEFINING COUNTRY EXISTENCE YEARS (Historical Accuracy)")
print("="*80)

# Dictionary of country formation/independence years
# Using actual independence/formation dates for modern nation-states
# For truly ancient nations that existed as sovereign states before 1832, we use 1832

country_existence_years = {
    # CORRECTED: Using actual independence/formation dates
    'Afghanistan': 1919,  # Independence from British influence (Treaty of Rawalpindi)
    'Albania': 1912,  # Independence from Ottoman Empire
    'Algeria': 1962,  # Independence from France
    'Andorra': 1278,  # Use 1832 (ancient nation)
    'Angola': 1975,  # Independence from Portugal
    'Anguilla': 1980,  # Separated from Saint Kitts and Nevis
    'Antarctica': 1959,  # Antarctic Treaty
    'Antigua and Barbuda': 1981,  # Independence from UK
    'Argentina': 1816,  # Use 1832 (independence was 1816)
    'Armenia': 1991,  # Independence from USSR
    'Aruba': 1986,  # Separated from Netherlands Antilles
    'Australia': 1901,  # Federation
    'Austria': 1918,  # Republic after WWI (Habsburg Empire ended)
    'Azerbaijan': 1991,  # Independence from USSR
    'Bahamas': 1973,  # Independence from UK
    'Bahrain': 1971,  # Independence from UK
    'Bangladesh': 1971,  # Independence from Pakistan
    'Barbados': 1966,  # Independence from UK
    'Belarus': 1991,  # Independence from USSR
    'Belgium': 1830,  # Use 1832
    'Belize': 1981,  # Independence from UK
    'Benin': 1960,  # Independence from France
    'Bermuda': 1832,  # British territory since 1600s
    'Bhutan': 1907,  # Monarchy established
    'Bolivia': 1825,  # Use 1832
    'Bonaire Sint Eustatius and Saba': 2010,  # Special municipalities
    'Bosnia and Herzegovina': 1992,  # Independence from Yugoslavia
    'Botswana': 1966,  # Independence from UK
    'Brazil': 1822,  # Use 1832
    'British Virgin Islands': 1832,  # British territory
    'Brunei': 1984,  # Independence from UK
    'Bulgaria': 1878,  # Independence from Ottoman Empire
    'Burkina Faso': 1960,  # Independence from France
    'Burundi': 1962,  # Independence from Belgium
    'Cambodia': 1953,  # Independence from France
    'Cameroon': 1960,  # Independence from France/UK
    'Canada': 1867,  # Confederation
    'Cape Verde': 1975,  # Independence from Portugal
    'Central African Republic': 1960,  # Independence from France
    'Chad': 1960,  # Independence from France
    'Chile': 1818,  # Use 1832
    'China': 1912,  # Republic of China (modern state)
    'Colombia': 1810,  # Use 1832
    'Comoros': 1975,  # Independence from France
    'Congo': 1960,  # Independence from France
    'Cook Islands': 1965,  # Self-governing
    'Costa Rica': 1838,  # Independence
    'Cote d\'Ivoire': 1960,  # Independence from France
    'Croatia': 1991,  # Independence from Yugoslavia
    'Cuba': 1902,  # Independence from US/Spain
    'Curacao': 2010,  # Constituent country
    'Cyprus': 1960,  # Independence from UK
    'Czechia': 1993,  # Split from Czechoslovakia
    'Democratic Republic of Congo': 1960,  # Independence from Belgium
    'Denmark': 1832,  # Ancient nation
    'Djibouti': 1977,  # Independence from France
    'Dominica': 1978,  # Independence from UK
    'Dominican Republic': 1844,  # Independence
    'East Timor': 2002,  # Independence from Indonesia
    'Ecuador': 1830,  # Use 1832
    'Egypt': 1922,  # Independence from UK
    'El Salvador': 1821,  # Use 1832
    'Equatorial Guinea': 1968,  # Independence from Spain
    'Eritrea': 1993,  # Independence from Ethiopia
    'Estonia': 1991,  # Re-independence from USSR
    'Eswatini': 1968,  # Independence from UK
    'Ethiopia': 1832,  # Ancient nation (never colonized except brief Italian occupation)
    'Faroe Islands': 1948,  # Self-governing
    'Fiji': 1970,  # Independence from UK
    'Finland': 1917,  # Independence from Russia
    'France': 1832,  # Ancient nation
    'French Polynesia': 1946,  # Overseas territory
    'Gabon': 1960,  # Independence from France
    'Gambia': 1965,  # Independence from UK
    'Georgia': 1991,  # Independence from USSR
    'Germany': 1871,  # Unification
    'Ghana': 1957,  # Independence from UK
    'Greece': 1832,  # Independence from Ottoman Empire
    'Greenland': 1979,  # Home rule
    'Grenada': 1974,  # Independence from UK
    'Guatemala': 1821,  # Use 1832
    'Guinea': 1958,  # Independence from France
    'Guinea-Bissau': 1974,  # Independence from Portugal
    'Guyana': 1966,  # Independence from UK
    'Haiti': 1804,  # Use 1832
    'Honduras': 1821,  # Use 1832
    'Hong Kong': 1842,  # British colony
    'Hungary': 1918,  # Independence after WWI
    'Iceland': 1944,  # Independence from Denmark
    'India': 1947,  # Independence from UK
    'Indonesia': 1945,  # Independence from Netherlands
    'Iran': 1925,  # Pahlavi dynasty (modern state)
    'Iraq': 1932,  # Independence from UK mandate
    'Ireland': 1922,  # Independence from UK
    'Israel': 1948,  # Independence
    'Italy': 1861,  # Unification
    'Jamaica': 1962,  # Independence from UK
    'Japan': 1868,  # Meiji Restoration (modern state)
    'Jordan': 1946,  # Independence from UK mandate
    'Kazakhstan': 1991,  # Independence from USSR
    'Kenya': 1963,  # Independence from UK
    'Kiribati': 1979,  # Independence from UK
    'Kosovo': 2008,  # Independence from Serbia
    'Kuwait': 1961,  # Independence from UK
    'Kyrgyzstan': 1991,  # Independence from USSR
    'Laos': 1953,  # Independence from France
    'Latvia': 1991,  # Re-independence from USSR
    'Lebanon': 1943,  # Independence from France mandate
    'Lesotho': 1966,  # Independence from UK
    'Liberia': 1847,  # Independence
    'Libya': 1951,  # Independence from Italy/UK/France
    'Liechtenstein': 1806,  # Use 1832
    'Lithuania': 1991,  # Re-independence from USSR
    'Luxembourg': 1839,  # Independence
    'Macao': 1832,  # Portuguese territory
    'Madagascar': 1960,  # Independence from France
    'Malawi': 1964,  # Independence from UK
    'Malaysia': 1957,  # Independence from UK
    'Maldives': 1965,  # Independence from UK
    'Mali': 1960,  # Independence from France
    'Malta': 1964,  # Independence from UK
    'Marshall Islands': 1986,  # Independence from US
    'Mauritania': 1960,  # Independence from France
    'Mauritius': 1968,  # Independence from UK
    'Mexico': 1821,  # Use 1832
    'Micronesia (country)': 1986,  # Independence from US
    'Moldova': 1991,  # Independence from USSR
    'Mongolia': 1921,  # Independence from China
    'Montenegro': 2006,  # Independence from Serbia
    'Montserrat': 1832,  # British territory
    'Morocco': 1956,  # Independence from France/Spain
    'Mozambique': 1975,  # Independence from Portugal
    'Myanmar': 1948,  # Independence from UK
    'Namibia': 1990,  # Independence from South Africa
    'Nauru': 1968,  # Independence from Australia
    'Nepal': 1832,  # Ancient nation (never colonized)
    'Netherlands': 1832,  # Ancient nation
    'New Caledonia': 1946,  # Overseas territory
    'New Zealand': 1907,  # Dominion status
    'Nicaragua': 1821,  # Use 1832
    'Niger': 1960,  # Independence from France
    'Nigeria': 1960,  # Independence from UK
    'Niue': 1974,  # Self-governing
    'North Korea': 1948,  # Division of Korea
    'North Macedonia': 1991,  # Independence from Yugoslavia
    'Norway': 1905,  # Independence from Sweden
    'Oman': 1650,  # Use 1832 (ancient sultanate)
    'Pakistan': 1947,  # Independence from UK/India
    'Palau': 1994,  # Independence from US
    'Palestine': 1994,  # Palestinian Authority
    'Panama': 1903,  # Independence from Colombia
    'Papua New Guinea': 1975,  # Independence from Australia
    'Paraguay': 1811,  # Use 1832
    'Peru': 1821,  # Use 1832
    'Philippines': 1946,  # Independence from US
    'Poland': 1918,  # Re-independence
    'Portugal': 1832,  # Ancient nation
    'Qatar': 1971,  # Independence from UK
    'Romania': 1878,  # Independence from Ottoman Empire
    'Russia': 1832,  # Ancient nation (Russian Empire existed)
    'Rwanda': 1962,  # Independence from Belgium
    'Saint Helena': 1832,  # British territory
    'Saint Kitts and Nevis': 1983,  # Independence from UK
    'Saint Lucia': 1979,  # Independence from UK
    'Saint Pierre and Miquelon': 1946,  # Overseas territory
    'Saint Vincent and the Grenadines': 1979,  # Independence from UK
    'Samoa': 1962,  # Independence from NZ
    'Sao Tome and Principe': 1975,  # Independence from Portugal
    'Saudi Arabia': 1932,  # Unification
    'Senegal': 1960,  # Independence from France
    'Serbia': 2006,  # Independence (after Montenegro split)
    'Seychelles': 1976,  # Independence from UK
    'Sierra Leone': 1961,  # Independence from UK
    'Singapore': 1965,  # Independence from Malaysia
    'Sint Maarten (Dutch part)': 2010,  # Constituent country
    'Slovakia': 1993,  # Split from Czechoslovakia
    'Slovenia': 1991,  # Independence from Yugoslavia
    'Solomon Islands': 1978,  # Independence from UK
    'Somalia': 1960,  # Independence from Italy/UK
    'South Africa': 1910,  # Union
    'South Korea': 1948,  # Division of Korea
    'South Sudan': 2011,  # Independence from Sudan
    'Spain': 1832,  # Ancient nation
    'Sri Lanka': 1948,  # Independence from UK
    'Sudan': 1956,  # Independence from UK/Egypt
    'Suriname': 1975,  # Independence from Netherlands
    'Sweden': 1832,  # Ancient nation
    'Switzerland': 1832,  # Ancient nation
    'Syria': 1946,  # Independence from France mandate
    'Taiwan': 1949,  # ROC moved to Taiwan
    'Tajikistan': 1991,  # Independence from USSR
    'Tanzania': 1961,  # Independence from UK
    'Thailand': 1832,  # Ancient nation (never colonized)
    'Togo': 1960,  # Independence from France
    'Tonga': 1970,  # Independence from UK
    'Trinidad and Tobago': 1962,  # Independence from UK
    'Tunisia': 1956,  # Independence from France
    'Turkey': 1923,  # Republic founded
    'Turkmenistan': 1991,  # Independence from USSR
    'Turks and Caicos Islands': 1832,  # British territory
    'Tuvalu': 1978,  # Independence from UK
    'Uganda': 1962,  # Independence from UK
    'Ukraine': 1991,  # Independence from USSR
    'United Arab Emirates': 1971,  # Federation
    'United Kingdom': 1832,  # Ancient nation
    'United States': 1776,  # Use 1832 (independence 1776)
    'Uruguay': 1828,  # Use 1832
    'Uzbekistan': 1991,  # Independence from USSR
    'Vanuatu': 1980,  # Independence from UK/France
    'Venezuela': 1811,  # Use 1832
    'Vietnam': 1945,  # Independence from France
    'Wallis and Futuna': 1961,  # Overseas territory
    'Yemen': 1990,  # Unification (North Yemen 1918, South Yemen 1967)
    'Zambia': 1964,  # Independence from UK
    'Zimbabwe': 1980,  # Independence from UK
}

# Ensure minimum year is 1832 (dataset start)
for country in country_existence_years:
    if country_existence_years[country] < 1832:
        country_existence_years[country] = 1832

# Get unique countries from the dataset
dataset_countries = df['Country'].unique()

# Find countries in dataset not in our dictionary
missing_countries = [c for c in dataset_countries if c not in country_existence_years]
if missing_countries:
    print(f"\nCountries not in existence dictionary (will use first CO2 year as fallback):")
    for c in missing_countries:
        first_co2_year = df[(df['Country'] == c) & (df['CO2 Emissions'] > 0)]['Year'].min()
        country_existence_years[c] = first_co2_year if pd.notna(first_co2_year) else 1832
        print(f"  {c}: {country_existence_years[c]}")

# Create START_YEAR dataframe
country_start_years = pd.DataFrame([
    {'Country': country, 'START_YEAR': year} 
    for country, year in country_existence_years.items() 
    if country in dataset_countries
])

print(f"\nTotal countries with existence years: {len(country_start_years)}")
print(f"\nStart Year Distribution:")
print(country_start_years['START_YEAR'].describe())

# Show Afghanistan specifically
print("\n" + "="*80)
print("AFGHANISTAN CHECK:")
print(f"  Afghanistan start year: {country_existence_years.get('Afghanistan', 'Not found')}")

# Show some examples of corrected dates
print("\n" + "="*80)
print("SAMPLE CORRECTED START YEARS:")
print("="*80)
sample_countries = ['Afghanistan', 'India', 'Pakistan', 'China', 'Japan', 'Germany', 'Austria', 'Hungary']
for country in sample_countries:
    if country in country_existence_years:
        print(f"  {country}: {country_existence_years[country]}")

================================================================================
STEP 1: DEFINING COUNTRY EXISTENCE YEARS (Historical Accuracy)
================================================================================

Countries not in existence dictionary (will use first CO2 year as fallback):
  Christmas Island: 1970
  Monaco: 1832
  San Marino: 1832
  Vatican: 1832

Total countries with existence years: 218

Start Year Distribution:
count     218.000000
mean     1932.426606
std        59.040926
min      1832.000000
25%      1901.250000
50%      1960.000000
75%      1975.000000
max      2011.000000
Name: START_YEAR, dtype: float64

================================================================================
AFGHANISTAN CHECK:
  Afghanistan start year: 1919

================================================================================
SAMPLE CORRECTED START YEARS:
================================================================================
  Afghanistan: 1919
  India: 1947
  Pakistan: 1947
  China: 1912
  Japan: 1868
  Germany: 1871
  Austria: 1918
  Hungary: 1918

In [71]:
# Step 2: REMOVE rows before country existence (not just zero them out)
# Keep only data from each country's creation/existence date onwards

print("="*80)
print("STEP 2: REMOVING PRE-EXISTENCE ROWS")
print("="*80)

# Merge START_YEAR into the main dataframe
df_with_start = df.merge(country_start_years, on='Country', how='left')

print(f"\nOriginal dataset rows: {len(df):,}")

# Count rows that will be REMOVED
rows_to_remove = df_with_start[df_with_start['Year'] < df_with_start['START_YEAR']]
print(f"Rows to be REMOVED (before country existence): {len(rows_to_remove):,}")
print(f"Percentage of dataset to remove: {(len(rows_to_remove) / len(df_with_start)) * 100:.2f}%")

# Keep only rows where Year >= START_YEAR (country exists)
df_trimmed = df_with_start[df_with_start['Year'] >= df_with_start['START_YEAR']].copy()

# Remove the START_YEAR helper column
df_trimmed = df_trimmed.drop(columns=['START_YEAR'])

print(f"\nAfter trimming: {len(df_trimmed):,} rows")
print(f"Rows removed: {len(df) - len(df_trimmed):,}")
print(f"\nFinal dataset shape: {df_trimmed.shape}")

================================================================================
STEP 2: REMOVING PRE-EXISTENCE ROWS
================================================================================

Original dataset rows: 38,838
Rows to be REMOVED (before country existence): 19,406
Percentage of dataset to remove: 49.97%

After trimming: 19,432 rows
Rows removed: 19,406

Final dataset shape: (19432, 25)

In [72]:
# Step 3: Validation - Verify data integrity after row removal

print("="*80)
print("STEP 3: VALIDATION - DATA INTEGRITY AFTER ROW REMOVAL")
print("="*80)

# Test Case 1: Check that early emitters still have data from their start year
early_emitters = ['United States', 'United Kingdom', 'Germany', 'France']
print("\n1. EARLY EMITTERS - First year in trimmed dataset:")
for country in early_emitters:
    country_data = df_trimmed[df_trimmed['Country'] == country]
    if len(country_data) > 0:
        first_year = country_data['Year'].min()
        last_year = country_data['Year'].max()
        num_rows = len(country_data)
        print(f"  {country}: {first_year}-{last_year} ({num_rows} rows)")

# Test Case 2: Check recent nations
print("\n2. RECENT NATIONS - Verifying correct start years:")
recent_nations = ['South Sudan', 'Kosovo', 'Montenegro', 'Serbia', 'East Timor']
for country in recent_nations:
    country_data = df_trimmed[df_trimmed['Country'] == country]
    if len(country_data) > 0:
        first_year = country_data['Year'].min()
        last_year = country_data['Year'].max()
        num_rows = len(country_data)
        print(f"  {country}: {first_year}-{last_year} ({num_rows} rows)")

# Test Case 3: Post-Soviet states
print("\n3. POST-SOVIET STATES (should start from 1991):")
post_soviet = ['Ukraine', 'Estonia', 'Latvia', 'Lithuania', 'Kazakhstan']
for country in post_soviet:
    country_data = df_trimmed[df_trimmed['Country'] == country]
    if len(country_data) > 0:
        first_year = country_data['Year'].min()
        num_rows = len(country_data)
        print(f"  {country}: starts {first_year} ({num_rows} rows)")

# Summary statistics
print("\n" + "="*80)
print("SUMMARY:")
print("="*80)
print(f"Total countries: {df_trimmed['Country'].nunique()}")
print(f"Total rows: {len(df_trimmed):,}")
print(f"Year range in dataset: {df_trimmed['Year'].min()} to {df_trimmed['Year'].max()}")
print(f"Total CO2 Emissions: {df_trimmed['CO2 Emissions'].sum():,.2f}")

================================================================================
STEP 3: VALIDATION - DATA INTEGRITY AFTER ROW REMOVAL
================================================================================

1. EARLY EMITTERS - First year in trimmed dataset:
  United States: 1832-2023 (192 rows)
  United Kingdom: 1832-2023 (192 rows)
  Germany: 1871-2023 (153 rows)
  France: 1832-2023 (192 rows)

2. RECENT NATIONS - Verifying correct start years:
  South Sudan: 2011-2023 (13 rows)
  Montenegro: 2006-2023 (18 rows)
  Serbia: 2006-2023 (18 rows)
  East Timor: 2002-2023 (22 rows)

3. POST-SOVIET STATES (should start from 1991):
  Ukraine: starts 1991 (33 rows)
  Estonia: starts 1991 (33 rows)
  Latvia: starts 1991 (33 rows)
  Lithuania: starts 1991 (33 rows)
  Kazakhstan: starts 1991 (33 rows)

================================================================================
SUMMARY:
================================================================================
Total countries: 218
Total rows: 19,432
Year range in dataset: 1832 to 2023
Total CO2 Emissions: 1,696,410.98

In [ ]:
# Step 4: Save the final trimmed dataset

print("="*80)
print("STEP 4: SAVING FINAL TRIMMED DATASET")
print("="*80)

# Save to CSV
output_filename = 'final_trimmed_co2_data.csv'
df_trimmed.to_csv(output_filename, index=False)

print(f"\n✓ Dataset saved as: {output_filename}")
print(f"\nFinal Dataset Summary:")
print(f"  Shape: {df_trimmed.shape}")
print(f"  Countries: {df_trimmed['Country'].nunique()}")
print(f"  Year range: {df_trimmed['Year'].min()} to {df_trimmed['Year'].max()}")
print(f"  Total CO2 Emissions: {df_trimmed['CO2 Emissions'].sum():,.2f}")

# Show final sample
print("\n" + "="*80)
print("SAMPLE OF FINAL TRIMMED DATA:")
print("="*80)
print(df_trimmed[['Country', 'Year', 'CO2 Emissions', 'Population', 'Gross Domestic Product']].head(10))

================================================================================
STEP 4: SAVING FINAL TRIMMED DATASET
================================================================================

✓ Dataset saved as: final_trimmed_co2_data.csv

Final Dataset Summary:
  Shape: (19432, 25)
  Countries: 218
  Year range: 1832 to 2023
  Total CO2 Emissions: 1,696,410.98

================================================================================
SAMPLE OF FINAL TRIMMED DATA:
================================================================================
        Country  Year  CO2 Emissions  Population  Gross Domestic Product
87  Afghanistan  1919            0.0   9976355.0            4.121187e+09
88  Afghanistan  1920            0.0  10188845.0            4.215791e+09
89  Afghanistan  1921            0.0  10162753.0            4.312567e+09
90  Afghanistan  1922            0.0   9893152.0            4.411565e+09
91  Afghanistan  1923            0.0   9374030.0            4.512835e+09
92  Afghanistan  1924            0.0   8882148.0            4.616430e+09
93  Afghanistan  1925            0.0   8416077.0            4.722403e+09
94  Afghanistan  1926            0.0   7974462.0            4.830808e+09
95  Afghanistan  1927            0.0   7556019.0            4.941702e+09
96  Afghanistan  1928            0.0   7159534.0            5.055142e+09